.nav {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 1px solid white;
  padding: 10px;
  box-sizing: border-box;
}

.active_link {
  text-decoration: none;
  color: red;
}

.just_link {
  text-decoration: none;
  color: inherit;
}

.just_link:hover {
  color: red;
}